@using Web.ViewModels
@using Web.App_GlobalResources
@using Webdiyer.WebControls.Mvc
@model Web.Areas.Admin.ViewModels.Email_template_view
@using (Html.BeginForm(Model.Parent_action, Model.Parent_controller, FormMethod.Post, new { id = "change_email_template_form", enctype = "multipart/form-data" }))
{
    <div class="page-header position-relative">
        <h1>Cập nhật email template  @*<small><i class="icon-double-angle-right"></i></small>*@
        </h1>
    </div>
    <!--/.page-header-->
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    @Html.Raw(Model.Html_link_tab)
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active">
                        @{if (!string.IsNullOrEmpty(Model.Message))
                          {
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>@Model.Message</strong>
                                <br />
                            </div>
                          }
                        }
                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Tên email template</label>

                                <div class="controls">
                                    <input type="text" id="name" name="name" class="span6" value="@Model.Name" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Nội dung</label>

                                <div class="controls">
                                    <textarea id="template" name="template" class="span11 ckeditor" style="width: 100%; height: 500px">@Model.Template</textarea>
                                </div>
                            </div>
                            <input type="hidden" id="id" name="id" value="@Model.Id" />
                            <input type="hidden" id="type" name="type" value="@Model.Type" />
                            <input type="hidden" id="type_act" name="type_act" value="@Model.Type_act" />
                            <input type="hidden" id="act" name="act" value="@Model.Act" />
                            <input type="hidden" id="ctrl" name="ctrl" value="@Model.Ctrl" />
                            <div class="form-actions">
                                <button class="btn btn-info" type="submit" id="save">
                                    <i class="icon-save bigger-110"></i>
                                    Cập nhật
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset" onclick="clearValidation($('#change_email_template_form'));">
                                    <i class="icon-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        ////from validate
        $("#change_email_template_form").validate({
            errorElement: 'span',
            errorClass: "error",
            errorPlacement: function (error, element, value) {
                error.appendTo(element.parent('div:first'));
                element.parents('div:first').addClass("error");
            },
            rules: {
                name: {
                    text_validate_default: true
                }
            },
            messages: {
                name: {
                    text_validate_default: "Bạn cần nhập tên email template"
                }
            }
        });
    });
</script>
