@using Web.ViewModels
@using Web.App_GlobalResources
@using Webdiyer.WebControls.Mvc
@model Web.Areas.Admin.ViewModels.User_view
@using (Html.BeginForm(Model.Parent_action, Model.Parent_controller, FormMethod.Post, new { id = "change_user_form", enctype = "multipart/form-data" }))
{
    <div class="page-header position-relative">
        <h1>
            Thêm mới <small>
                <i class="icon-double-angle-right"></i>
                @Model.Username
            </small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    @Html.Raw(Model.Html_link_tab)
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active">
                        @{
    if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
            <strong>@Model.Message</strong>
            <br />
        </div>
    }
                        }
                        <div class="form-horizontal">

                            <div class="control-group">
                                <label class="control-label" for="form-field-1">User Name</label>

                                <div class="controls">
                                    <input type="text" id="Username" name="Username" class="span6" value="@Model.Username" @Html.Raw(Model.Username_text) />
                                </div>
                            </div>
                            @{
    if (Model.Type == "Admin")
    {
        <div class="control-group">

            <label class="control-label" for="form-field-1">Active</label>
            <div class="controls">
                <input type="checkbox" id="chkOnline" name="chkOnline" class="ace-switch ace-switch-3" @Html.Raw(Model.Online_text) onclick="CheckBoxchange('Online')" />
                <span class="lbl"></span>
            </div>
        </div>
    }
    else
    {

    }
                            }

                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Password</label>

                                <div class="controls">
                                    <input type="text" class="span6" id="Password" name="Password" value="@Model.Password">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Confirm Password</label>

                                <div class="controls">
                                    <input type="text" id="ConfirmPassword" name="ConfirmPassword" class="span6" value="@Model.ConfirmPassword" />
                                </div>
                            </div>

                            <input type="hidden" id="Username" name="Username" value="@Model.Username" />
                            <input type="hidden" id="type" name="type" value="@Model.Type" />
                            <input type="hidden" id="type_act" name="type_act" value="@Model.Type_act" />
                            <input type="hidden" id="act" name="act" value="@Model.Act" />
                            <input type="hidden" id="ctrl" name="ctrl" value="@Model.Ctrl" />
                            <input type="hidden" id="Online" name="Online" value="@Html.Raw(Model.Online)" />
                            <div class="form-actions">
                                <button class="btn btn-info" type="submit" id="save">
                                    <i class="icon-save bigger-110"></i>
                                    Cập nhật
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset" onclick="clearValidation($('#change_user_form'));">
                                    <i class="icon-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.span-->
        </div>
    </div>
    <!--/.row-fluid-->
}
<script type="text/javascript">
    function CheckBoxchange(id) {
        if ($("#chk" + id).is(':checked')) {
            $("#" + id).val("true");
        }
        else {
            $("#" + id).val("false");
        }
    }
    $(function () {
        ////from validate
        $("#change_user_form").validate({
            errorElement: 'span',
            errorClass: "error",
            errorPlacement: function (error, element, value) {
                error.appendTo(element.parent('div:first'));
                element.parents('div:first').addClass("error");
            },
            rules: {
                Username: {
                    text_validate_default: true,
                    minlength: 5,
                    maxlength: 50,
                    containsAllAscii: true,
                    email: true
                },
                Password: {
                    text_validate_default: true,
                    minlength: 5,
                    maxlength: 10
                },
                ConfirmPassword: {
                    text_validate_default: true,
                    minlength: 5,
                    maxlength: 10,
                    equalTo: "#Password"
                }

            },
            messages: {
                Username: {
                    text_validate_default: "Bạn cần nhập User name",
                    minlength: "User name phải có ít nhất 5 ký tự",
                    maxlength: "User name không thể dài quá 50 ký tự",
                    containsAllAscii: "User name chỉ cho phép các ký tự chữ và số",
                    email: "User Name bắt buộc phải là một tài khoản email hợp lệ"
                },
                Password: {
                    text_validate_default: "",
                    minlength: "Password phải có ít nhất 5 ký tự",
                    maxlength: "Password không thể dài quá 10 ký tự"
                },
                ConfirmPassword: {
                    text_validate_default: "",
                    minlength: "Password phải có ít nhất 5 ký tự",
                    maxlength: "Password không thể dài quá 10 ký tự",
                    equalTo: "Xin vui lòng xác nhận lại Pasword"
                }

            }
        });





    });
</script>
