@using Web.ViewModels
@using Web.App_GlobalResources
@using Webdiyer.WebControls.Mvc
@model Web.Areas.Admin.ViewModels.List_page_view
@using (Html.BeginForm(Model.Parent_action, Model.Parent_controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-header position-relative">
        <h1>
            Danh mục @Model.Cate_type
        </h1>
    </div>
    <!--/.page-header-->
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    @Html.Raw(Model.Html_link_tab)
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active">
                        <div style="border-bottom: 1px solid #cfcfcf;">
                            @{ SelectList list_language = new SelectList(Model.List_language, "Value", "Text", Web.Models.LanguageModels.ActiveLanguage().LangCultureName);}
                            @Html.DropDownListFor(m => m.Lang, list_language, new { @class = "form-control", @onchange = "$('form').submit();" })

                            <input type="text" id="search" name="search" value="@Model.Search" />

                            <button type="submit" class="btn btn-purple btn-small" style="margin-bottom: 10px;"> Search <i class="icon-search icon-on-right bigger-110"></i></button>
                        </div>
                        @{if (!string.IsNullOrEmpty(Model.Message))
                            {
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>@Model.Message</strong>
                                    <br />
                                </div>
                            }
                        }
                        <table cellpadding="0" cellspacing="0" width="100%" class="table table-striped table-bordered table-hover" id="list_paging_ajax">
                            <tbody>
                                <tr>
                                    <th>#</th>
                                    <th><a href="#" class="asc">Tên trang</a></th>
                                    <th><a href="#">Cập nhật</a></th>
                                    <th>Thứ tự hiển thị</th>
                                    <th><a href="#">Trạng thái</a></th>
                                    <th style="width: 96px;">Chức năng</th>
                                </tr>
                                @{
                                    for (int i = 0; i < Model.Page_list.Count; i++)
                                    {
                                        <tr>
                                            <td>@Html.Raw(i + 1)</td>
                                            <td><a href="@Url.Action("index", "dashboard", new { act = "change_static", ctrl = "adminStatic", type_act = Web.Models.CommonGlobal.Edit, id = Model.Page_list[i].PageID, lang = Model.Page_list[i].Lang })">@Model.Page_list[i].PageName</a></td>
                                            <td><span id="label_@Model.Page_list[i].PageID">@Convert.ToDateTime(Model.Page_list[i].DateModified).ToString("dd/MM/yyyy")</span></td>
                                            <td>@Model.Page_list[i].OrderDisplay</td>
                                            <td>
                                                @{
                                                    var show_text = "";
                                                    var status_new = "false";

                                                    if (Model.Page_list[i].Show ?? false)
                                                    {
                                                        show_text = "checked='checked'";
                                                        status_new = "false";
                                                    }
                                                    else
                                                    {
                                                        show_text = "";
                                                        status_new = "true";
                                                    }
                                                }
                                                <table>
                                                    <tr>
                                                        <td>Hiển thị:</td>
                                                        <td>
                                                            <input type="checkbox" id="chkShow_@Model.Page_list[i].PageID" name="chkShow_@Model.Page_list[i].PageID" class="ace-switch ace-switch-3" @Html.Raw(show_text) onclick="UpdateStatusShowPage(@Model.Page_list[i].PageID,@status_new)" />
                                                            <span class="lbl"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 96px;">
                                                <button type="submit" class="btn btn-mini btn-danger" onclick="ConfirmDelete(@Model.Page_list[i].PageID, '@Model.Page_list[i].PageName')"><i class="icon-trash bigger-120"></i></button>
                                            </td>
                                        </tr>
                                                    }
                                }
                            </tbody>
                        </table>
                        <script type="text/javascript">
                            function ConfirmDelete(id, name) {
                                if (confirm('Bạn thực hiện xóa:' + name)) {
                                    if (typeof id != 'undefined' && typeof id != null) {
                                        $("#id").val(id);
                                        $("#type_act").val("@Web.Models.CommonGlobal.Delete");
                                        $('form').submit();
                                    }
                                }
                            }

                            function UpdateStatusShowPage(id, status) {
                                var type = '';
                                $.ajax({
                                    type: 'POST',
                                    url: "@Url.Action("update_status_is_show_page_static", "adminStatic")",
                                    data: '{id: "' + id + '",status: "' + status + '",type: "' + type + '" }',
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: 'json',
                                    success: function (results) {
                                        if (typeof results != 'undefined' && typeof results != null) {
                                            $('#label_'+id).html(" " + results.split("|")[0]);    ////date modified
                                            var data = results.split("|")[1];   ////data
                                            if(data == "true" || data == "True")
                                            {
                                                $("#chkShow_" + id).prop("checked", true);
                                                $("#chkShow_" + id).attr("onclick", "UpdateStatusShowPage('" + id + "','false')");
                                            }else{
                                                $("#chkShow_" + id).prop("checked", false);
                                                $("#chkShow_" + id).attr("onclick", "UpdateStatusShowPage('" + id + "','true')");
                                            }
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ////alert(errorThrown + ";" + textStatus);
                                    }
                                });
                            }
                        </script>
                        <div class="pagination">
                            @Html.AjaxPager(  ////PagerHelper
                            Model.Total_record,
                            Model.Page_size,
                            Model.Page,
                            Model.Parent_action,    ////action
                            Model.Parent_controller,//controller
                            "admin_default",  ////routeName
                            new PagerOptions  ////page option
                            {
                                PageIndexParameterName = "page",
                                ShowNumericPagerItems = true,
                                ShowPrevNext = true,
                                FirstPageText = "&#171;",
                                LastPageText = "&#187;",
                                NextPageText = "&#155;",
                                PrevPageText = "&#139;",
                                ContainerTagName = "ul",
                                CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                                CssClass = "pagination",
                                PagerItemWrapperFormatString = "<li>{0}</li>"
                            },
                            new { act = "list_page_static", ctrl = "adminStatic", lang = Model.Lang, search = Model.Search, order_by = Model.Order_by, order_type = Model.Order_type }, //// routeValues
                            new AjaxOptions { UpdateTargetId = "list_paging_ajax" },  ////ajax option
                            null
                            )

                        </div>
                        <input type="hidden" id="act" name="act" value="@Model.Act" />
                        <input type="hidden" id="ctrl" name="ctrl" value="@Model.Ctrl" />
                        <input type="hidden" id="type_act" name="type_act" />
                        <input type="hidden" id="id" name="id" />
                    </div>
                </div>
            </div>
        </div>
        <!--/.span-->
    </div>
    <!--/.row-fluid-->
                                                    }