@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web.ViewModels
@using Web.App_GlobalResources
@model Web.ViewModels.Login_view
<!-- Main Page Content Area Start -->
<section id="content">
    <div class="content-body">
        <!-- Start breadcrumb area  -->
        @{Html.RenderAction("breadcrumbs", "control", new { str_breadcrumbs = ViewBag.str_breadcrumbs });}
        <!-- End breadcrumb area  -->
        <!-- Page Main Content Start     -->
        <div class="page-inner-content padding100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        @{Html.RenderAction("menu_my_account", "account");}
                    </div>
                    <div class="col-md-8">
                        <div class="form-login">
                            <h3 class="title">@Lang.strChangePassword</h3>
                            <p><span class="text-error">@Html.Raw(Model.message)</span></p>
                            @using (Html.BeginForm(Model.parent_action, Model.parent_controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <p>
                                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="@Lang.strUserName" value="@Model.user_name">
                                </p>
                                if (Model.is_change == 1)
                                {
                                    <p>
                                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="@Lang.strOldPassword" value="@Model.old_password">
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <input type="text" class="form-control" id="code" name="code" placeholder="@Lang.strConfirmCode" value="@Model.code">
                                    </p>
                                }
                                <p>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="@Lang.strNewPassword" value="@Model.password">
                                </p>
                                <p>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="@Lang.strConfirmPassword" value="@Model.confirm_password">
                                </p>
                                <p>
                                    <input type="submit" value="@Lang.btnResetPassword" class="button primary">
                                    <input type="hidden" value="@Model.return_url" id="return_url" name="return_url" />
                                    <input type="hidden" value="@Model.is_change" id="is_change" name="is_change" />
                                    <input type="hidden" value="@Model.confirm_code" id="confirm_code" name="confirm_code" />
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Main Content End     -->
    </div>
</section>
<!-- Main Page Content Area End -->

