@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web.ViewModels
@using Web.App_GlobalResources
@model Web.ViewModels.Login_view
<!-- Main Page Content Area Start -->
<section id="content">
    <div class="content-body">
        <!-- Start breadcrumb area  -->
        @{Html.RenderAction("breadcrumbs", "control", new { str_breadcrumbs = ViewBag.str_breadcrumbs });}
        <!-- End breadcrumb area  -->
        <!-- Page Main Content Start     -->
        <div class="page-inner-content padding100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-register">
                            <h3 class="title">@Lang.strCreateNewAccount</h3>
                            <p>@Lang.strLabelCreateNewAccount</p>
                            <a href="@Url.Action("register","account")" class="button primary">@Lang.strRegister</a>
                            <br /><br />
                            <div class="wpb_row">
                                <h3 class="title">@Lang.strLoginOther</h3>
                                @Html.ActionLink("Login with Facebook.", "Facebook", "Account", new { return_url = Url.Action("index", "home") }, new { @class = "login_facebook_btn" })
                                @Html.ActionLink("Login with Google.", "Google", "Account", new { return_url = Url.Action("index", "home") }, new { @class = "login_google_btn" })
                                @Html.ActionLink("Login with Instagram.", "Instagram", "Account", new { return_url = Url.Action("index", "home") }, new { @class = "login_instagram_btn" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-login">
                            <h3 class="title">@Lang.strForgotPassword</h3>
                            <p><span class="text-error">@Model.Message</span></p>
                            @using (Html.BeginForm(Model.ParentAction, Model.ParentController, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <p>
                                        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="@Lang.strUserName">
                                    </p>
                                    <p>
                                        <input type="submit" value="@Lang.btnResetPassword" class="button primary">
                                        <input type="hidden" value="@Model.ReturnUrl" id="return_url" name="return_url" />
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Main Content End     -->
    </div>
</section>
<!-- Main Page Content Area End -->