@{
    Layout = "~/Areas/admin/Views/Shared/_Layout_No_Login.cshtml";
}
@using Web.ViewModels
@using Web.App_GlobalResources
@model Web.Areas.Admin.ViewModels.Login_view
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                &copy; Đổi mật khẩu
            </h4>
            <div class="space-6"></div>
            <span class="text-error">@Model.Message</span>
            @using (Html.BeginForm(Model.Parent_action, Model.Parent_controller, FormMethod.Post, new { id = "change_password_form", enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <label>
                        <span class="block input-icon input-icon-right">
                            <input type="text" id="user_name" name="user_name" class="span12" placeholder="@Lang.strUserName" value="@Model.User_name" />
                            <i class="icon-user"></i>
                        </span>
                    </label>

                    @if (Model.Is_change == 1)
                    {
                        <label>
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="span12" id="old_password" name="old_password" placeholder="@Lang.strOldPassword" value="@Model.Old_password">
                                <i class="icon-lock"></i>
                            </span>
                        </label>
                    }
                    else
                    {
                        <label>
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="span12" id="code" name="code" placeholder="@Lang.strConfirmCode" value="@Model.Code">
                            </span>
                        </label>
                    }
                    <label>
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="span12" id="password" name="password" placeholder="@Lang.strNewPassword" value="@Model.Password">
                        </span>
                    </label>

                    <label>
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="span12" id="confirm_password" name="confirm_password" placeholder="@Lang.strConfirmPassword" value="@Model.Confirm_password">
                        </span>
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">
                        <button type="submit" class="width-35 pull-right btn btn-small btn-primary">
                            <i class="icon-key"></i>
                            Gửi
                        </button>
                    </div>
                    <input type="hidden" value="@Model.Return_url" id="return_url" name="return_url" />
                    <input type="hidden" value="@Model.Is_change" id="is_change" name="is_change" />
                    <input type="hidden" value="@Model.Confirm_code" id="confirm_code" name="confirm_code" />
                    <div class="space-4"></div>
                </fieldset>
            }
        </div><!--/widget-main-->

        <div class="toolbar clearfix">
            <div>
                <a href="@Url.Action("login", "dashboard", new { area = "admin" })" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    Đăng nhập
                </a>
            </div>
        </div>
    </div><!--/widget-body-->
</div><!--/login-box-->
<script type="text/javascript">
    $(function () {
        ////from validate
        $("#change_password_form").validate({
            errorElement: 'span',
            errorClass: "error",
            errorPlacement: function (error, element, value) {
                error.appendTo(element.parent('div:first'));
                element.parents('div:first').addClass("error");
            },
            rules: {
                user_name: {
                    text_validate_default: true
                },
                old_password: {
                    text_validate_default: true
                },
                code: {
                    text_validate_default: true
                },
                password: {
                    text_validate_default: true,
                    minlength: 5,
                    maxlength: 10
                },
                confirm_password: {
                    text_validate_default: true,
                    minlength: 5,
                    maxlength: 10,
                    equalTo: "#password"
                }
            },
            messages: {
                user_name: {
                    text_validate_default: ""
                },
                old_password: {
                    text_validate_default: ""
                },
                code: {
                    text_validate_default: ""
                },
                password: {
                    text_validate_default: "",
                    minlength: "Mật khẩu phải có ít nhất 5 ký tự.",
                    maxlength: "Mật khẩu của bạn không thể dài hơn 10 ký tự."
                },
                confirm_password: {
                    text_validate_default: "",
                    minlength: "Xác nhận mật khẩu phải có ít nhất 5 ký tự.",
                    maxlength: "Xác nhận mật khẩu của bạn không thể dài hơn 10 ký tự.",
                    equalTo: "Xác nhận mật khẩu không đúng"
                }
            }
        });
    });
</script>



